.bg-box{
    width: 1000px;
    height: 500px;
    background-color: green;
    background-image: url(../img/house.webp), url(../img/ejik.webp), url(../img/ponchik.png), url(../img/lamp.png), url(../img/trava.png);
    background-repeat: no-repeat, repeat-y, repeat-y, repeat-x, repeat-x;
    background-size: 500px 300px, 20px 20px, 30px 30px, 50px 50px, 100px 100px;
    background-position: center, left, right, top, bottom;
}